p.intro {
  width: 50%;
  font-style: italic;
  text-align: center;
  margin: auto;
  background-color: black;
  opacity: .8;
}

p.author{
  clear: left;
  font-style: italic;
  font-weight: bold;

  margin-left: 0;
}

p.recipes{
  font-size: 40px;
  clear: left;
  font-weight: bold;

  margin-left: 0;
}

a:link{
color:red;
}

a:visited{
  color:red;
}

body {
    background-image: url("../img/background.jpg");
    background-color: black;
    background-size: cover;
    color: white;
    background-position: fixed;
    background-repeat: no-repeat;
}

a:link {
  color: red;
}


h1, h2, h3 {
  text-align: center
}

h3{
  background-color: #FF0070;
}

p {
  font-size: 18px;
  text-align: left;

}

strong  {
  font-size: 100px;
  color: #FF00CD;
}

.evil {
  font-style: normal;
  color: red;
  font-size: 20px;
  font-weight: bold;

}

.chant {
  font-size: 14px;
  font-style: italic;
}

.recipetext{
  line-height: 25px;
}

.column {
  width: 30%;
  float: left;
  text-shadow: 1px 1px black;
  padding: 8px;
  background-color: black;
  opacity: .8;
}

.back {

}
