p.intro {
  width: 50%;
  font-style: italic;
  text-align: center;
  margin: auto;
  background-color: black;
  opacity: .8;
}

p.author{
  width: 50%;
  font-style: italics;
  font-weight: bold;
  float: left;
  margin-left: 0;
}

p.linkage{
  width: 50%;
  font-style: italics;
  font-weight: bold;
  float: left;
  margin-left: 0;
}

.important{
  color: red;
}


body {
    background-image: url("../img/background.jpg");
    background-color: black;
    background-size: cover;
    color: white;
    background-position: fixed;
    background-repeat: no-repeat;
}


h1, h2, h3 {
  text-align: center
}

h3{
  background-color: #FF0070;
}

p {
  font-size: 18px;
  text-align: left;
}

strong  {
  font-size: 100px;
  color: #FF00CD;
}

.evil {
  font-style: normal;
  color: red;
  font-size: 20px;
  font-weight: bold;

}

.chant {
  font-size: 14px;
  font-style: italic;
}



.column {
  width: 30%;
  float: left;
  text-shadow: 1px 1px black;
  padding: 8px;
}
