p.intro {
  width: 50%;
  font-style: italic;
  text-align: center;
  margin: auto;
}

p.author{
  width: 75%;
  font-style: italics;
  font-weight: bold;
}

.important{
  color: red;
}


body {
    background-image: url("../img/background.jpg");
    background-color: #cccccc;
    background-size: cover;
    color: white;
}

h1, h2 {
  text-align: center
}

strong  {
  font-size: 100px;
  color: #FF00CD;
}

.evil {
  font-style: normal;
  color: red;

}
